
<div class = "container">
  <div class = "row">
    <div class = "col">

      <h1> Tasks view</h1>

<%= form_tag 'display' %>
<% @task.each do |task| %>
  <tr>

   <td><%= check_box("display", task.id) %></td>
   <td><%= link_to task.title, task_path(task.id) %></td>
  </tr>
<% end %>
    </div>

  </div>
</div>



